DATABASE_URL=postgresql://mms_procurement:mms_procurement@localhost:5434/procurement_db
PORT=3003
RABBITMQ_URL=amqp://mms:mms@localhost:5672
VENDOR_SERVICE_URL=http://localhost:3001/api/v1
INVENTORY_SERVICE_URL=http://localhost:3002/api/v1
